*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.tabs input{
    visibility: hidden;
    display: none;
}
.labels{
    position:absolute;
    bottom: 50px;
    display: flex;
    justify-content: center; 
    z-index: 200002;
    gap: 10px;
    padding: 5px;
    width: 100%;
}
.labels label{
    width: 20px;
    height: 20px;
    background-color: rgb(10, 10, 10);
    opacity: 0.5;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.tabs input:nth-child(1):checked ~ .labels label:nth-child(1),
.tabs input:nth-child(2):checked ~ .labels label:nth-child(2),
.tabs input:nth-child(3):checked ~ .labels label:nth-child(3)
{
opacity: 1;
width: 50px;
}
.content{
    position: relative;
    width: 300vw;
    display: flex;
    transition: 0.5s;

}
.content .box{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 100px;
}
.box img{
    position: absolute;
    width: 90%;
    height: 90%;
}
.content .box:nth-child(1){
    background: linear-gradient(90deg,#43cea2,#185a9d);
}

.content .box:nth-child(2){
    background: linear-gradient(90deg,#ce43a0,#441937);
}

.content .box:nth-child(3){
    background: linear-gradient(90deg,#ce9243,#634813);
}

.tabs input:nth-child(1):checked ~ .content{
    left: 0;
}

.tabs input:nth-child(2):checked ~ .content{
    left: -100vw;
}

.tabs input:nth-child(3):checked ~ .content{
    left: -200vw;
}