*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr:#141010f1;
}
body{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background:#0c0c0cf1;
}
.con{
width: 400px;
height: 70px;
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
}
.con ul{
    position: relative;
    width: 90%;
    display: flex;
}
.con ul li{

    width: 70px;
    height: 70px;
    position: relative;
    list-style: none;
    z-index: 1;
}
.con ul li a{
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.con ul li a .icon{
    position: relative;
    display: block;
    line-height: 70px;
    text-align: center;
    font-size: 1.5em;
    color: black;
    transition: 0.5s;
}
.con ul li.active a .icon{
transform: translateY(-30px);
}
.con ul li a .text{
    position: absolute;
    color: black;
    font-weight: 400;
    font-size: 0.75em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);

}
.con ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}
.indcator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background-color: green;
    border-radius: 50%;
    border: 5px solid var(--clr);
    transition: 0.5s;
}
.indcator::before{
    content: '';
    position: absolute;
    width: 20px;height: 20px;
    background-color: transparent;
    top: 51%;
    left: -20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--clr);
}
.indcator::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    top: 51%;
    right: -20px;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--clr);
}

.con ul li:nth-child(1).active ~ .indcator{
    transform: translateX(calc(70px * 0));
}

.con ul li:nth-child(2).active ~ .indcator{
    transform: translateX(calc(70px * 1));
}

.con ul li:nth-child(3).active ~ .indcator{
    transform: translateX(calc(70px * 2));
}

.con ul li:nth-child(4).active ~ .indcator{
    transform: translateX(calc(70px * 3));
}

.con ul li:nth-child(5).active ~ .indcator{
    transform: translateX(calc(70px * 4));
}